.aboutme {
	@include xy-grid();

	&__byline {
		display: none;

		@include breakpoint( large ) {
			display: block;
			@include xy-cell( 1 );
		}

		p {
		// transform: rotate( -90deg );
		}
	}

	&__spacer {
		// @include xy-cell( 12 );
		display: none;

		@include breakpoint( large ) {
			display: block;
			@include xy-cell( 3 );
		}
	}

	&__photo {
		@include xy-cell( 12 );

		position: relative;

		@include breakpoint( medium ) {
			@include xy-cell( 6 );
		}
		
		@include breakpoint( large ) {
			@include xy-cell( 4 );
		}

	}

	&__bio {
		@include xy-cell( 12 );
		margin-top: rem-calc( 15 );

		@include breakpoint( medium ) {
			@include xy-cell( 6 );
			justify-content: flex-end;
			display: flex;
			flex-flow: column;
			margin-top: 0;

			p {
				margin-bottom: 0;
			}
		}

		@include breakpoint( large ) {
			@include xy-cell( 4 );
		}
	}

	&__maintitle {
		text-transform: uppercase;
		font-size: rem-calc( 48 );
		font-weight: bold;
		position: absolute;
		color: #fff;
		top: 50%;
		transform: translateY(-50%);

	}

	&__title {
		@include sub-header();
	}
}