.navmenu {
	@include reset-list();

	display: flex;
	justify-content: space-between;
		margin: rem-calc( 10 0 15 0 );

	&--footer {
		justify-content: center;
	}

	&__item {

	}

	&__href {
		

		text-transform: uppercase;
		color: $light-gray;
		text-decoration: none;
		font-weight: bold;
		white-space: nowrap;
		
		font-size: rem-calc( 14 );
		line-height: rem-calc( 25 );
		letter-spacing: rem-calc( 1 );
		padding: rem-calc( 15 10 );

		@include breakpoint( large ) {
			font-size: rem-calc( 21 );
			line-height: rem-calc( 25 );
			letter-spacing: rem-calc( 1 );
			padding: rem-calc( 15 25 );

		}

		&:hover {
			color: $secondary-color;
		}
	}
}