<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

{# {% include '_gtm_HEAD.twig' %} #}

        <title>{{ block('title') }} | Čárka - tečka - Šárka</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

{% include '_social_markup.twig' %}

        {# <link rel="stylesheet" href="css/normalize.css"> #}
        <link rel="stylesheet" href="dist/css/main.css?v=20171129">
        {# <script src="js/vendor/modernizr-2.8.3.min.js"></script> #}
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
{# {% include '_gtm_BODY.twig' %} #}

        <header>
            <div class="header">
                <div class="header__part">
                    <a href="/" class="header__logo">
                        <img src="/dist/images/logo-carka-tecka-sarka.svg" alt="">
                    </a>
                </div>
                <div class="header__part header__part--carka">
                    <img src="/dist/images/carka-plna.svg" alt="" class="header__carka">
                </div>
                <div class="header__part header__part--menu">
                    <ul class="header__menu navmenu">
                        <li class="navmenu__item"><a href="/co-delam/" class="navmenu__href">Co dělám</a></li>
                        <li class="navmenu__item"><a href="/kdo-jsem/" class="navmenu__href">Kdo jsem</a></li>
                        <li class="navmenu__item"><a href="/napisme-si/" class="navmenu__href">Napišme si</a></li>
                    </ul>
                </div>
            </div>
            
        </header>

        {% block page %}{% endblock %}

        {# <script src="dist/js/jquery.min.js"></script> #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script> #}
        <script src="dist/js/main.js"></script>

        <script>
            //$(document).foundation();
        </script>

        <footer class="">
            <section class="footer">
                <div class="footer__part">
                    <ul class="footer__menu navmenu navmenu--footer">
                        <li class="navmenu__item"><a href="#top" class="navmenu__href">Čárka</a></li>
                        <li class="navmenu__item"><a href="#top" class="navmenu__href">Tečka</a></li>
                        <li class="navmenu__item"><a href="#top" class="navmenu__href">Šárka</a></li>
                    </ul>
                </div>
                <div class="footer__part">
                    <ul class="footer__menu navmenu navmenu--footer">
                        <li class="navmenu__item"><a href="https://www.facebook.com/sarka.hurdalkova/" class="navmenu__href">Facebook</a></li>
                        <li class="navmenu__item"><a href="https://www.instagram.com/sarka.hurdalkova/" class="navmenu__href">Insta</a></li>
                    </ul>
                </div>
                <div class="footer__part">
                    <ul class="footer__menu navmenu navmenu--footer">
                        <li class="navmenu__item"><a href="/stranka-404/" class="navmenu__href">Stránka 404</a></li>
                    </ul>
                </div>
            </section>
        </footer>


    </body>
</html>

