{% extends "_layout.common.twig" %}

{% block title %}Title{% endblock %}

{% block page %}

	{# TODO add circle to bottom right #}
	<section class="title">
		<h1 class="title__maintitle">Čárka <br>tečka <br>Šárka</h1>
		<h2 class="title__subtitle">Copywriting — Branding — Sociální&nbsp;sítě — PR</h2>
	</section>

{% endblock %}
