{% extends "_layout.common.twig" %}

{% block title %}Title{% endblock %}

{% block page %}

	{# TODO add circle to bottom right #}
	<section class="title">
		<h1 class="title__maintitle">Čárka <br>tečka <br>Šárka</h1>
		<h2 class="title__subtitle">Copywriting — Branding — Sociální&nbsp;sítě — PR</h2>
	</section>


	<div class="grid-container">
		

		<section class="references">
			<div class="references__inner">
				

		{# <div class="grid-x grid-margin-x"> #}
		  {# <div class="large-12 cell"> #}
		    <ul class="accordion" data-accordion data-allow-all-closed="true" data-deep-link-smudge="true">
		      <li class="accordion-item" data-accordion-item>
		        <!-- Accordion tab title -->
		        <a href="#" class="accordion-title reference-head">
		        	<div class="reference-grid">
		        		<div class="reference-grid__head">
				          <h3 class="reference-head__order">01</h3>
				          <h2 class="reference-head__maintitle">Luft Coworking</h2>
				          <p class="reference-head__excerpt">tvorba brandu, nastavení komunikační strategie, copywriting webových stránek, správa sociálních sítí</p>
				          <p class="reference-head__action">Mrkni o co jde</p>
		        		</div>
		        	</div>
		        </a>

		        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
		        <div class="accordion-content reference-content" data-tab-content>

		        	<div class="reference-grid">
		        		<div class="reference-grid__main">
		        			<h4 class="reference-content__title">Od nuly k lovebrandu</h4>
		        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id soluta magnam alias modi rerum deserunt incidunt, quo fugit cupiditate inventore dignissimos nostrum laborum, voluptates nesciunt similique, blanditiis magni quos. Debitis.</p>
		        		</div>
		        		<div class="reference-grid__side">
		        			&rarr; <a href="#" class="reference-content__link">http://luft-coworking.sk</a>
		        		</div>
		        	</div>

		        	<div class="reference-grid">
		        		<div class="reference-grid__main">
		        			<img src="/dist/images/luft.jpg" alt="">
		        		</div>
		        		<div class="reference-grid__side">
		        			<h4 class="reference-content__title">Co si myslí naši klienti</h4>
		        		</div>
		        	</div>
		        </div>
		      </li>
		      <li class="accordion-item" data-accordion-item>
		        <!-- Accordion tab title -->
		        <a href="#" class="accordion-title">Accordion 2</a>

		        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
		        <div class="accordion-content" data-tab-content>
		          <p>Panel 2. </p>
		        </div>
		      </li>
		    </ul>
		 {#  </div>
		</div>  #}
			</div>
		</section>
	</div> {# .grid-container #}

{% endblock %}
