{% extends "_layout.common.twig" %}

{% block title %}Kdo jsem{% endblock %}

{% block page %}

	<div class="grid-container">

		<div class="aboutme">
			<div class="aboutme__byline"><p>Copywriter</p></div>
			<div class="aboutme__spacer"></div>
			<div class="aboutme__photo">
				<h1 class="aboutme__maintitle js-fittext">O mně</h1>
				<img src="/dist/images/o_mne.jpg" alt="Fotka Sarky">
			</div>
			<div class="aboutme__bio">
				<h4 class="aboutme__title">Carka Tecka Sarka</h4>
				<p>Mam rada ciste texty a komunikaci... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia assumenda dolorem harum, provident odio omnis facilis tempore vero dignissimos labore debitis. Ullam optio, tenetur nesciunt debitis, veniam maiores rem neque.</p>
			</div>
		</div>

		<div class="photorow photorow--row1">
			<div class="photorow__inner">
				<div class="photorow__img1">
					<img src="/dist/images/luft-8_resize.jpg" class="" alt="">
				</div>
				<div class="photorow__img2">
					<img src="/dist/images/luft-2_resize.jpg" class="" alt="">
				</div>
			</div>
		</div>

		<div class="photorow photorow--row2">
			<div class="photorow__inner">
				<div class="photorow__img3">
					<img src="/dist/images/IMG_6267_resize.jpg" class="" alt="">
				</div>
				<div class="photorow__row2square">
					o
				</div>
			</div>
		</div>

		<div class="photorow photorow--row3">
			<div class="photorow__inner">
				<div class="photorow__row3square">
					,
				</div>
				<div class="photorow__img4">
					<img src="/dist/images/luft-4_resize.jpg" class="" alt="">
				</div>
			</div>
		</div>
		


	</div> {# .grid-container #}

{% endblock %}
